.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
  font-size: 5vh;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 30px;
  width: 80%;
  padding-top: 70px;
  text-align: center;
}

@media screen and (max-width: 1090px) {
  .movies {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    text-align: center;
  }
}